
.admin_main{
    background: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wEar?ver=c556)center center no-repeat ;
}
.login__page{
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
