*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-transform: capitalize;
  text-decoration: none;
  color: blue;
}

.mt {
  margin-top: 1.2em;
}
.flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  width: 900px;
}
